
h1 {
    color: green;
}
h2 {
    color: aqua;
}
h3 {
    color: blueviolet;
}
p {
    color: orange;
    width: 300px;
}
ol {
    color: rgb(255, 121, 100);
}
ul {
    color: #faaafa;
}
td {
    width: 400px;
    height: 300px;
}